$borderWidth: 8px;

.mainElement {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;

  width: 100%;
  height: 231px;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;

    height: 116px;
    width: 100%;

    background-color: #E7D04A;
  }
}

.card {
  position: relative;

  margin-left: 130px;

  width: 177px;
  height: 152px;

  border: $borderWidth solid transparent;

  &:first-child {
    margin-left: 0;
  }

  &::before {
    content: '';

    position: absolute;
    left: calc( 0px - #{$borderWidth});
    top: calc( 0px - #{$borderWidth});

    display: block;

    width: calc( 100% + (2 * #{$borderWidth}));
    height: 115px;

    border: 8px solid #E7D04A;
    border-bottom: none;

    z-index: 9999;
  }

  &::after {
    content: '';

    position: absolute;
    left: calc( 0px - #{$borderWidth});
    top: calc( 42px - #{$borderWidth});

    display: block;

    width: calc( 100% + (2 * #{$borderWidth}));
    height: 110px;

    border: 8px solid #fff;

    z-index: 999;
  }

  span {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 60px;
    line-height: 82px;
    font-weight: 700;
    color: #5C5652;

    z-index: 9999;
  }
}